name: Web UI Automation

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  run-automation-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 23
      uses: actions/setup-java@v4
      with:
        java-version: '23'
        distribution: 'temurin'

    - name: Setup Chrome
      # You may pin to the exact commit or the version.
      # uses: browser-actions/setup-chrome@facf10a55b9caf92e0cc749b4f82bf8220989148
      uses: browser-actions/setup-chrome@v1.7.2

    - name: Verify Chrome and ChromeDriver Versions
      run: |
        google-chrome-stable --version
        chromedriver --version
        
    # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
    # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
      
    # setup graldew
    - name: Setup gradlew
      run: chmod +x gradlew 
      
    - name: Build with Gradle Wrapper
      run: ./gradlew webTest --info
          

